#trans3d-container {
    width: 500px;
}
#trans3d-container li {
    width: 200px;
    float: left;
}
#edit-responsive-width,
#thumbbar-settings,
.form-item-thumbnail-direction,
.form-item-thumbnail-align {
  border-left: 2px solid blue !important;
  margin-left: 15px !important;
  padding-left: 10px !important;
}
.cute-callback {width: 400px !important;}
.form-item-change-start,
.form-item-change-end,
.form-item-waitting,
.form-item-change-next-slide,
.form-item-waitting-for-next {
  float: left;
  margin-right: 30px !important;
}
.w60 {width: 60px;}