.cute-slider{
	position: relative;
    font-size: 12px;
}

.cute-ie8 * {filter: inherit; opacity: inherit;}

/* -------------------------------------
 * Slider Controls
 * ------------------------------------*/
 
.cute-ie  .br-next, .cute-ie  .br-previous,
.cute-ie  .br-slidecontrol,.cute-ie .br-video .play-btn ,
.cute-ie .br-thumb-bottom ,.cute-ie .br-thumb-up{filter: inherit !important;}
.cute-ie  .br-timer-glow  {display:none;}
.cute-ie7  .br-control-selected ,.cute-ie8  .br-control-selected {	background-color:white !important;}

.br-controls {
	position:absolute;
	z-index: 10;
}

.br-next , .br-previous{
	position: absolute;
    z-index: 21;
}

.br-slidecontrol{
	position: absolute;
	list-style: none;
	z-index: 10;
}

    .region .br-slidecontrol ul,
    .br-slidecontrol ul {
        margin: 0;
    }

	.br-slidecontrol ul li{
		display: block;
		position:relative;
		margin:2px;
		float:left;
	}
	
	.br-slidecontrol ul li .br-control-selected{
		display: block;
	}
	
.br-thumb-bottom ,
.br-thumb-up {
	position: relative;
}

	.br-thumb-bottom .br-thumb-img , .br-thumb-up .br-thumb-img{ 
		position:absolute;
	}

.br-slideinfo{
	position:absolute;
    z-index:  9;
}

.br-slideinfo .br-infocontent {
    line-height: 1.5em;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.br-slideinfo .br-infocontent h3 {
    margin: 0 0 8px;
}

.br-button a { display: inline-block; *display:inline;
    padding: 4px 12px; margin-bottom: 0; *margin-left:.3em;
    font-size: 14px; line-height: 20px; *line-height:20px;
    color: #333; text-align: center; text-shadow: 0 1px 1px rgba(255,255,255,0.75); vertical-align: middle; cursor: pointer; background-color: #f5f5f5; *background-color:#e6e6e6;
    background-image: -moz-linear-gradient(top, #fff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #fff, #e6e6e6); background-image: -o-linear-gradient(top, #fff, #e6e6e6); background-image: linear-gradient(to bottom, #fff, #e6e6e6); background-repeat: repeat-x; border: 1px solid #bbb; *border:0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf; border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25); border-bottom-color: #a2a2a2; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter:progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom:1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05); -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05); box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05) }
.br-button a:hover,
.br-button a:active,
.br-button a.active { color: #333; background-color: #e6e6e6; *background-color:#d9d9d9
}
.br-button a:active,
.br-button a.active { background-color: #ccc \9 }

.br-button a:hover { color: #333; text-decoration: none; background-color: #e6e6e6; *background-color:#d9d9d9;
    background-position: 0 -15px; -webkit-transition: background-position .1s linear; -moz-transition: background-position .1s linear; -o-transition: background-position .1s linear; transition: background-position .1s linear }
.br-button a:focus { outline: thin dotted #333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px }
.br-button a.active,
.br-button a:active { background-color: #e6e6e6; background-color: #d9d9d9 \9; background-image: none; outline: 0; -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05); -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05); box-shadow: inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05) }
		
/* -------------------------------------
 * Slider Timer
 * ------------------------------------*/

.br-circle-timer,
.br-bar-timer,
.br-bar-timer .br-timer-bar{
	position: absolute;
}

/* -------------------------------------
 * Slider Captions
 * ------------------------------------*/

.br-captions .br-caption-content {

}

	.br-captions{
		font-size:100%;
	}
		
	@media screen and (max-width: 400px) {
		.br-captions {display: none;}
	}
	
/* -------------------------------------
 * Slider Video
 * ------------------------------------*/

.br-video {
	position: absolute;
    z-index: 19;
}

	.br-video .play-btn,
	.br-video .close-btn{
		cursor: pointer;
		position: absolute;
        z-index: 21;
	}

    .br-video .play-btn{
        width: 43px;
        height: 43px;
        background: url("../images/cute-theme/controls.png") no-repeat -3px -44px;
        top: 50%;
        left: 50%;
        margin: -21px 0 0 -21px;
    }

    .br-video .close-btn{
        width: 22px;
        height: 22px;
        background: url('../images/cute-theme/controls.png') no-repeat 0px -123px black;
        right: 6px;
        top: 6px;
        border: solid 1px #5E5C5C;
    }

	.br-video .video-cont{
		position:absolute;
		z-index: 2;
		width:100%;
		height:100%;
	}
	
/* -------------------------------------
 * Slider Loading
 * ------------------------------------*/


.br-loading {
	position: absolute;
	z-index: 101;
}

.br-large-loading {
	position: absolute;
	z-index: 100;
}


/* -----------------------------------
 * Slider Thumb List
 * ----------------------------------*/

.br-thumblist {
    position: absolute;
		z-index:20;
}
	.br-thumblist-content {
		margin: 0 auto;
	}
	
	.thumblist-horizontal .br-thumblist {
		left: 0;
		right: 0;
	}
	
	.br-list-thumb {
		position: relative;
		overflow: hidden;
	}
	
	.thumblist-horizontal .br-list-thumb {
		float: left;
	}
	
	.br-thumblist-frame {
		overflow: hidden;
	}
	
	.br-list-thumb img,
	.br-thumb-img img {width:100%; height:100%}
	
	.br-list-thumb-select {
		background: url(../images/cute-theme/black-50.png) repeat 0 0;
		cursor: pointer;
		position: absolute;
		z-index:2; 
		top: 0; 
		left: 0; 
		bottom: 0; 
		right: 0;
	}
	
/*-----------------------------------
 * Cute shadow
 * ----------------------------------*/
.cute-shadow {
	margin-top: -2.3%;
}
	.cute-shadow img {
	width: 100%; 
	height: auto
	}
	
/* -----------------------------------
 * Slider Cute Gallery
 * ----------------------------------*/

.br-cutegallery {
    width: 100%;
    height:100%;
    background: url('../images/cute-theme/dark-pattern.gif') #1D1D1D;
		position: relative;
}

	.br-gallery-wrapper {
	    margin: 0 auto;
	    position: relative;
	}
	
	.br-gallery-wrapper.fullscreen {
	    padding: 0;
	}
	
	.br-cutegallery .br-top {
	    height: 100%;
	    position:relative;
	}
	
	.br-cutegallery .br-bottom {
	    width: 100%;
			position: relative;
	}
	
	.br-cutegallery .br-thumblist {
		width: 100%;
	}
	
	.br-bottom.fullscreen {
	    position:absolute;
	    bottom:0;
	}
	
	
	.br-fullscreen-btn {
	    position: absolute;
	    top: 0;
	    right: 0;
	    width: 24px;
	    height: 24px;
	    background: url("../images/cute-theme/controls.png") -48px 26px black;
	    cursor: pointer;
	    z-index: 10;
	}
	
	.br-fullscreen-btn.fullscreen {
	   background-position: -24px 26px;
	}
	
	.br-cutegallery .br-play-btn {
	    width: 24px;  height: 24px;  
	    background: url("../images/cute-theme/controls.png") 82px 54px  black;  
	    position: absolute;  
	    left: 50%;  
	    margin-left: -12px;
	    cursor: pointer;
	}
	
	.br-cutegallery .br-pause-btn {
	    background-position: 102px 55px;
	}
	
	.br-cutegallery .br-list-thumb {
		float: left
	}
	
	.br-cutegallery .br-thumblist-next {
	    width: 24px;
		height: 24px;
		background: url("../images/cute-theme/controls.png") -70px 27px black;
		position: absolute;
		right: 0;
		top: -24px;
	}
	
	.br-cutegallery .br-thumblist-previous {
	    width: 24px;
		height: 24px;
		background: url("../images/cute-theme/controls.png") -87px 27px black;
		position: absolute;
		left: 0px;
		top: -24px;
	}