/* -------------------------------------
 * Slider Controls
 * ------------------------------------*/
 
.skin2 .br-controls {
	background-image: url("../../images/cute-theme/trans.png");
}

.skin2 .br-next , .skin2 .br-previous{
	width: 24px;
	height: 24px;
	bottom: 17px;
	left: 42px;
	margin-top: -17px;
	background: url("../../images/cute-theme/controls.png") -106px -120px white;

	-webkit-transition: background-color 130ms;
	  -moz-transition : background-color 130ms;
	    -ms-transition: background-color 130ms;
	     -o-transition: background-color 130ms;
	        transition: background-color 130ms;
}

.skin2 .br-next:hover , .skin2 .br-previous:hover{
	background-color: #666;
}

.skin2 .br-previous{
	left: 17px;
	background-position:-121px 27px;
}

.skin2 .br-slidecontrol{
	bottom: 35px;
	right: 52px;
}

	.skin2 .br-slidecontrol ul li{
		margin:2px;
		width:14px;
		height: 15px;
		background: url("../../images/cute-theme/controls.png") -113px -14px;
	}
	
	.skin2 .br-slidecontrol ul li .br-control-selected{
		width:14px;
		height: 15px;
		background: url("../../images/cute-theme/controls.png") -92px -14px;
	}


.skin2 .br-thumb-bottom {
	left: -36px;
}

.skin2 .br-thumb-up {
	left: -36px;
	top:-143px;
}

	.skin2 .br-thumb-bottom .br-thumb-frame { 
		background: url("../../images/cute-theme/thumb-frame.png") -0px -7px;
		width: 92px;
		height: 95px;
	}
	
	.skin2 .br-thumb-up .br-thumb-frame { 
		background: url("../../images/cute-theme/thumb-frame.png") -89px 1px;
		width: 92px;
		height: 95px;
	}
	
	.skin2 .br-thumb-bottom .br-thumb-img , .skin2 .br-thumb-up .br-thumb-img{ 
		top: 17px;
		left: 15px;
		width:60px;
		height:60px;
	}


.skin2 .br-slideinfo .br-infocontent{
	background: url("../../images/cute-theme/dark-info-pat.png");
	font-size: 12px;
	text-shadow: black 1px 1px;
	color: white;
	bottom:0;
	top: 0;
	right:0;
	height:auto !important;
	margin:17px
}

	.skin2 .br-slideinfo .right , .skin2 .br-slideinfo .left{
		width:230px;
		height: 100%;
	}
	
	.skin2 .br-slideinfo .info1 div{
		padding:20px;
	}
	
	.skin2 .br-slideinfo .info1 .title{
		font-weight: 700;
		font-size: 19px;
	}
	
	.skin2 .br-slideinfo .info1 .text{
		line-height: 152%;

	}

	.skin2 .br-slideinfo .info1 .more-btn{
			cursor: pointer;
			-moz-box-shadow: inset 0px 1px 0px 0px white;
			-webkit-box-shadow: inset 0px 1px 0px 0px white;
			box-shadow: inset 0px 1px 0px 0px white;
			background: -webkit-gradient( linear, left top, left bottom, color-stop(0.35, #E4E4E4), color-stop(1, #CECECE) );
			background: -moz-linear-gradient( center top, #E4E4E4 35%, #CECECE 100% );
			background-color: #CECECE;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			border: 1px solid #B4B4B4;
			color: black;
			font-size: 11px;
			font-weight: 400;
			padding: 8px 13px;
			text-shadow: 1px 1px 0px white;
			float: right;
			display: block;
			position: relative;
			top: -5%;
			margin: 0px 10px 18px 10px;
			text-decoration: none;
	}
	
	.skin2 .br-slideinfo .info2 .more-btn{
			cursor: pointer;
			
			-moz-box-shadow:	inset 0px 1px 0px 0px #FF7979;
			-webkit-box-shadow:	inset 0px 1px 0px 0px #FF7979;
			box-shadow:			inset 0px 1px 0px 0px #FF7979;

			
			
			background: -webkit-gradient( linear, left top, left bottom, color-stop(0.35, #DD1C1F), color-stop(1, #CB120F) );
			background:			-moz-linear-gradient( center top, #DD1C1F 35%, #CB120F 100% );
			
			background-color: #DD1C1F;
			-moz-border-radius:		4px;
			-webkit-border-radius:	4px;
			border-radius:			4px;

			border: 1px solid #7C2E2E;
			color: white;
			font-size: 12px;
			font-weight: 400;
			padding: 4px 13px;
			text-shadow: 1px 1px 0px black;
			float: left;
			display: block;
			position: relative;
			left: 65px;
			top: 42px;
			text-decoration: none;
	}
	
	.skin2 .br-slideinfo .info2 .subtitle{
			display: block;
			font-weight: 300;
			letter-spacing: -2px;
			font-size: 42px;
			margin-left: 31px;
			margin-top: -5px;
	}
	
	.skin2 .br-slideinfo .info2 .title{
			display: block;
			font-weight: 700;
			letter-spacing: -1px;
			padding-left: 31px;
			padding-top: 10px;
			font-size: 19px;
	}
	
	.skin2 .br-slideinfo .info2 .text{
			display: block;
			font-size: 13px;
			font-weight: 400;
			padding: 39px 32px;
			line-height: 127%;
	}
	
	
	
	
/* -------------------------------------
 * Slider Timer
 * ------------------------------------*/

.skin2 .br-circle-timer {
	top: 6px;
	left: 6px;
	width: 28px;
	height: 28px;
}

	.skin2 .br-circle-timer .br-timer-dot {
		width:11px;
		height: 13px;
		background: url("../../images/cute-theme/controls.png") -134px -15px;
	}

.skin2 .br-bar-timer{
	height: 6px;
	bottom:0px;
}

	.skin2 .br-bar-timer .br-timer-glow{
	 	height: 7px;
		background: url("../../images/cute-theme/light-timer-glow.png");
		width: 104px;
	}
	 
	.skin2 .br-bar-timer .br-timer-bar{
	 	height: 2px;
		background-color: white;
		top: 4px;
	}


/* -------------------------------------
 * Slider Captions
 * ------------------------------------*/


	
	
/* -------------------------------------
 * Slider Video
 * ------------------------------------*/

.skin2 .br-video {
	
}

	.skin2 .br-video .play-btn{
		width: 43px;
		height: 43px;
		background: url("../../images/cute-theme/controls.png") no-repeat -3px -44px;
		top: 50%;
		left: 50%;
		margin: -21px 0 0 -21px;
	}
	
	.skin2 .br-video .close-btn{
		width: 22px;
		height: 22px;
		background: url('../../images/cute-theme/controls.png') no-repeat 0px -123px black;
		right: 6px;
		top: 6px;
		border: solid 1px #5E5C5C;
	}

	.skin2 .br-video .video-cont{
		background: black;
	}

/* -------------------------------------
 * Slider Shadow
 * ------------------------------------*/

.skin2 .br-shadow{
  background: url("../../images/cute-theme/shadow.png") no-repeat scroll center ;
    bottom: -40px;
    height: 60px;
    left: -140px;
    position: absolute;
    width: 1150px;
}

/* -------------------------------------
 * Slider Loading
 * ------------------------------------*/


.skin2 .br-loading {
	width: 23px;
	height: 23px;
	background: url("../../images/cute-theme/controls.png") 150px -94px;
	top: 50%;
	left: 50%;
	margin: -11px;
}

	.skin2 .br-loading .img{
		width:21px;
		height:21px;
		background: url("../../images/cute-theme/small-loading.gif") no-repeat center;	
	}

.skin2 .br-large-loading {
	width: 43px;
	height: 43px;
	background: url("../../images/cute-theme/controls.png") -92px -42px;
	top: 50%;
	left: 50%;
	margin: -21px;
}

	.skin2 .br-large-loading .img{
		width:40px;
		height:40px;
		background: url("../../images/cute-theme/large-loading.gif") no-repeat center;	
	}

/* -----------------------------------
 * Slider Thumb List
 * ----------------------------------*/

.skin2 .br-thumblist {
    position: absolute;
    right: -61px;
    top: 0;
    height: 100%;
}
	.skin2 .br-thumblist-frame {
	    width: 60px;
	    overflow: hidden;
	    height: 100%;
	}
	
	.skin2 .br-list-thumb {
	    width: 60px;
	    height: 61px;
	    cursor: pointer;
	}
	
	.skin2 .br-thumblist-next {
	    width: 24px;
		height: 24px;
		background: url("../../images/cute-theme/controls.png") -104px 55px black;
		position: absolute;
		right: -12px;
		top: 17px;
		cursor: pointer;
	}
	
	.skin2 .br-thumblist-previous {
	    width: 24px;
		height: 24px;
		background: url("../../images/cute-theme/controls.png") -122px 55px black;
		position: absolute;
		right: -12px;
		bottom: 17px;
		cursor: pointer;
	}

	.skin2 .br-list-thumb-select {
		opacity: 1;
		position: relative;
		background: rgba(0, 0, 0, 0.57);
		width: 60px;
		height: 60px;
		top: -67px;
	}

	
@media screen and (max-width: 440px) {
	.skin2 .br-thumblist-next 				{left: -12px;}
	.skin2 .br-thumblist-previous 			{left: -12px;}
	.skin2 #slider_wrapper       			{ right:60px !important; }
}
	
@media screen and (max-width: 375px) {
	.skin2 .br-thumblist.vertical 			{ display:none; }
	.skin2 #slider_wrapper       			{ right:0px !important; }
}

/* -------------------------------------
 * Thumbnail
 * ------------------------------------*/
	
	.skin2 .thumblist-vertical .br-thumblist {
		width: 60px;
	}

	.skin2 .thumblist-horizontal .br-thumblist-frame {
    height: 60px;
	}
	
	.skin2 .br-list-thumb {
		height: 60px;
		width: 60px;
	}
	
	.skin2 .thumblist-horizontal .br-list-thumb {
		padding: 0 1px 0 0;
	}
	
	.skin2 .thumblist-vertical .br-list-thumb {
		padding: 0 0 1px 0;
	}


/* -----------------------------------
 * Slider Cute Gallery
 * ----------------------------------*/

.skin2 .br-cutegallery {
    background: url('../../images/cute-theme/dark-pattern.gif') #1D1D1D;
}

.skin2 .br-cutegallery .br-next , .skin2 .br-cutegallery .br-previous{
	width: 24px;
	height: 24px;
	bottom: 17px;
	right: 0;
	top: 50%;
	margin-top: -12px;
	background: url("../../images/cute-theme/controls.png") -106px -120px white;

	-webkit-transition: background-color 130ms;
	  -moz-transition : background-color 130ms;
	    -ms-transition: background-color 130ms;
	     -o-transition: background-color 130ms;
	        transition: background-color 130ms;
}

.skin2 .br-cutegallery .br-next {
	left: auto;
}

.skin2 .br-cutegallery .br-next:hover , .skin2 .br-cutegallery .br-previous:hover{
	background-color: #B1B1B1;
}

.skin2 .br-cutegallery .br-previous{
	left: 0;
	background-position: -121px 27px;
}

	.skin2 .br-gallery-wrapper {
	    width: 75%;
	    max-width: 900px;
	    padding: 10% 0;
	}
	
	.skin2 .br-top {
		
	}
	
	.skin2 .br-bottom {
	    height: 85px;
	    background-color: black;
	}
	
	.skin2 .br-cutegallery .br-thumblist {
		top: 24px;
	}
	
	.skin2 .br-bottom.fullscreen {
		
	}
	
	
	.skin2 .br-fullscreen-btn {

	}
	
	.skin2 .br-fullscreen-btn.fullscreen {
	   
	}
	
	.skin2 .br-play-btn {
	   
	}
	
	.skin2 .br-pause-btn {
	    
	}